<h1>Confirmation</h1>
<table>
  <tr>
    <td>Last name</td>
    <td>{{values.lastName}}</td>
  </tr>
  <tr>
    <td>First name</td>
    <td>{{values.firstName}}</td>
  </tr>
  <tr>
    <td>GitHub username</td>
    <td>{{values.gitUser}}</td>
  </tr>
  <tr>
    <td>Favorite GitHub project</td>
    <td>{{values.favoriteProject}}</td>
  </tr>
  <tr>
    <td>Angular version</td>
    <td>{{values.ngVersion}}</td>
  </tr>
  <tr>
    <td>Angular router</td>
    <td>{{values.ngRouter ? 'Yes' : 'No'}}</td>
  </tr>
</table>
