<div [formGroup]="form">
  <h1>Angular usage</h1>
  <p>
    <label>Your project's Angular version*</label>
    <input type="number" formControlName="ngVersion" size="3"/>
    <span class="error"
          *ngIf="form.get('ngVersion').touched && !form.get('ngVersion').valid">
      Version must be equal to or greater than 9.</span>
  </p>
  <p>
    <input type="checkbox" formControlName="ngRouter" id="ngRouter">
    <label for="ngRouter">Your projects includes Angular's Router</label>
  </p>
</div>
