/* Adapted from Dipu Raj's SmartWizard 4 theme */

.ng-wizard-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: .25rem!important;
  border: solid 1px black;
  //-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

  .ng-wizard-content-container {
    position: relative;
    margin: 0;
    padding: 10px;
    border: 0px solid #D4D4D4;
    text-align: left;
  }
}

nav.ng-wizard-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #dee2e6;
  background: #fff;

  ul.ng-wizard-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li.ng-wizard-navigation-list-item {
      display: list-item;
      position: relative;
      float: left;
      margin-right: 2px;
      padding: 25px 15px;
      border-right: solid 1px rgba(218,215,197,.6);
      cursor: pointer;

      div,
      div:hover {
        border: none !important;
        color: #bbb;
        text-decoration: none;
        outline-style: none;
        background: transparent !important;
        border: none !important;
        cursor: not-allowed;

        &::after {
          content: "";
          background: #4285F4;
          height: 3px;
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: 0px;
          -webkit-transition: all 250ms ease 0s;
          transition: all 250ms ease 0s;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
        }

        i.ng-wizard-icon {
          position: relative;
          top: 7px;
          border: solid 1px rgb(178,175,157);
          border-radius: 50%;
          padding: 5px;
        }
      }

      div.ng-wizard-navigation-link {
        border: none !important;
        color: #000 !important;
        background: transparent !important;
        cursor: pointer;

        &::after {
          background: #5cb85c;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }

        i.ng-wizard-icon {
          border-color: #888;
          color: #5cb85c
        }
      }

      div.ng-wizard-navigation-active {
        border: none !important;
        color: #4285F4 !important;
        background: transparent !important;
        cursor: pointer;

        &::after {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }

      div.ng-wizard-navigation-invalid {
        border: none !important;
        color: #d9534f !important;
        /* background: #d9534f !important; */
        cursor: pointer;

        &::after {
          background: #d9534f;
          border-left-color: #f8d7da;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }

      div.ng-wizard-navigation-disabled {
        color: #c6c3b1 !important;
        cursor: not-allowed;
      }
    }
  }
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .ng-wizard-container li {
    //float: none !important;
  }
}
